.navbar {
    background-color: #003bb0; 
    padding: 0.75rem 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    /* padding: 0 15px; */
}

.logo h4 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.logo a {
    text-decoration: none; 
    color: white; 
}

.logo a:hover {
    text-decoration: none; 
    color: red; 
}

.navbar-dark .navbar-nav .nav-link {
    color: white; 
    font-weight: 500; 
    margin: 0 15px; 
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffcc00; 
}

.navbar-dark .dropdown-menu {
    background-color: #0044cc; 
    border: none; 
}

.navbar-dark .dropdown-item {
    color: white; 
    padding: 7px 20px; 
    text-decoration: none;
}

.navbar-dark .dropdown-item:hover {
    background-color: #ffcc00; 
    color: #003399;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.custom-icon {
    color: white;
    font-size: 28px; 
}

.custom-dropdown .dropdown-toggle::after {
    display: none;
}
.custom-dropdown .dropdown-menu {
    position: absolute;
    margin: 10px 0 0 20px;
    width: 200px; 
    background-color: #0044cc; 
    border: none;
}
.custom-dropdown p{
    color: white;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #ffcc00;
    color: #003399;
}

/* Responsive design */
@media (max-width: 992px) {
    .navbar {
        padding: 0.5rem 1rem;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        width: 100%;
    }

    .navbar-nav .nav-item {
        position: relative;
    }
    .navbar-dark .dropdown-menu {
        position: absolute;
    }
    .profile {
        /* margin-top: 1rem; */
        position: absolute;
        right: 1rem;
        top: 4rem;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        flex-direction: column;
    }

    .navbar-nav {
        margin-top: 1rem;
    }

    .profile {
        position: absolute;
        right: 1rem;
        top: 4rem;
    }

    .navbar-brand h4 {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .navbar-brand h4 {
        font-size: 16px;
    }

    .custom-icon {
        font-size: 24px;
    }

    .navbar-nav {
        text-align: center;
    }
}
